---
export interface Props {
  href: string;
  text: string;
  className?: string;
  variant: "primary" | "secondary" | "cta";
}
const { href, text, className = "", variant } = Astro.props;
---

<a href={href} class={`btn btn-link--${variant} ${className}`}
  ><span>{text}</span></a
>
