---
export interface Props {
  className?: string;
  color: "primary" | "secondary" | "cta";
  variant: "solid" | "outline" | "gradient";
}
const { className = "", color = "primary", variant = "solid" } = Astro.props;
---

<button class={`btn btn--${variant}-${color} ${className}`}><slot /></button>
