---
export interface Props {
  className?: string;
  size?: "full" | "wide" | "medium" | "narrow";
}
const { className = "", size = "wide" } = Astro.props;
const sizeClass =
  size === "full"
    ? "container--full"
    : size === "wide"
      ? "container--wide"
      : size === "medium"
        ? "container--medium"
        : "container--narrow";
---

<div class={`container ${sizeClass} ${className}`}><slot /></div>
