---
export interface Props {
  title: string;
  navItems: { itemText: string; itemLink: string }[];
}
const { title, navItems } = Astro.props;
---

<nav class="footer-nav">
  <h2>{title}</h2>
  <ul>
    {
      navItems.map((n) => (
        <li>
          <a href={n.itemLink}>{n.itemText}</a>
        </li>
      ))
    }
  </ul>
</nav>
