---
import GradientText from "../../../shared/GradientText.astro";
import Paragraph from "../../../shared/Paragraph.astro";
import SubTitle2 from "../../../shared/SubTitle2.astro";
export interface Props {
  className?: string;
  subheading: { text1_1: string; text1_2: string; text2: string };
}
const { subheading, className = "" } = Astro.props;
---

<div class={`copy-card ${className}`}>
  <div class="copy-card-heading">
    <SubTitle2
      >{subheading.text1_1}<GradientText>{subheading.text1_2}</GradientText
      ></SubTitle2>
  </div>
  <div class="copy-card-body"><Paragraph>{subheading.text2}</Paragraph></div>
</div>
