---
import LazyImage from "../../../shared/LazyImage.astro";
export interface Props {
  name: string;
  visual: ImageMetadata;
}
const { name, visual } = Astro.props;
---

<div class="inventory-card">
  <div class="inventory-card-inner">
    <div class="inventory-card-image">
      <LazyImage
        src={visual}
        alt={name}
        height={150}
        class="inventory-card-img"
      />
    </div>
    <div class="inventory-card-label">
      <h5 class="inventory-card-name">{name}</h5>
    </div>
  </div>
</div>
