---
import GroupFooterNav from "../components/blocks/GroupFooterNav.astro";
import Container from "../components/shared/Container.astro";
import FooterNav from "../components/shared/FooterNav.astro";
import Paragraph from "../components/shared/Paragraph.astro";

const currentPath = Astro.url.pathname;
const isHome = currentPath === "/";

const footerNav1 = [
  {
    itemText: "Facility Services",
    itemLink: isHome ? "#facility-services" : "/facility-services",
  },
  { itemText: "Rentals", itemLink: isHome ? "#rentals" : "/rentals" },
  { itemText: "Inventory", itemLink: isHome ? "#inventory" : "/inventory" },
];
const footerSupport = [
  {
    itemText: "Parts & Service",
    itemLink: isHome ? "#parts-service" : "/parts-service",
  },
  { itemText: "Sales", itemLink: isHome ? "#" : "/" },
  { itemText: "FAQ", itemLink: "/faq" },
  { itemText: "Contact", itemLink: "/contact" },
];
const footerCompany = [
  { itemText: "Company", itemLink: "/company" },
  { itemText: "Employment", itemLink: "/employment" },
];
const footerLegal = [
  { itemText: "Legal", itemLink: "/legal" },
  { itemText: "Privacy", itemLink: "/privacy" },
  { itemText: "Terms", itemLink: "/terms" },
];
---

<div class="site-footer-wrap">
  <footer class="site-footer">
    <Container className="container--wide">
      <div class="footer-grid">
        <div class="footer-brand">
          <div>
            <a href="/">
              <span class="footer-brand-name">Southwest Sweeper Sales</span>
            </a>
            <Paragraph className="mt-8"
              >Serving the Arizona Valley since 1975.</Paragraph
            >
          </div>
        </div>
        <GroupFooterNav>
          <FooterNav title="Company" navItems={footerCompany} />
          <FooterNav title="Solutions" navItems={footerNav1} />
        </GroupFooterNav>
        <GroupFooterNav>
          <FooterNav title="Support" navItems={footerSupport} />
          <FooterNav title="Resources" navItems={footerLegal} />
        </GroupFooterNav>
      </div>
    </Container>
    <div class="footer-bottom">
      <Container className="container--wide">
        <div class="footer-bottom-inner">
          <div>
            &copy; 1975 - <span id="year"></span>, Southwest Sweeper Sales. All
            rights reserved.
          </div>
          <div>
            Produced by <a href="https://toddl.dev" target="_blank"
              >Todd Libby</a
            >
          </div>
        </div>
      </Container>
    </div>
  </footer>
</div>
<script>
  document.getElementById("year")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>
