---
import Navitem from "../components/shared/Navitem.astro";
import BtnLink from "../components/shared/BtnLink.astro";
import BtnThemeSwitch from "../components/shared/BtnThemeSwitch.astro";
const navItems = [
  { href: "/", text: "Home" },
  { href: "#inventory", text: "Inventory" },
  { href: "#parts-service", text: "Parts & Service" },
  { href: "#rentals", text: "Rentals" },
  { href: "#facility-services", text: "Facility Services" },
];
---

<header class="site-header">
  <nav class="site-nav">
    <div class="nav-logo">
      <a href="/"
        ><div class="nav-logo-img-wrap">
          <img src="/images/sws_logo.png" alt="Southwest Sweeper Sales logo" />
        </div></a
      >
    </div>
    <div data-nav-overlay aria-hidden="true" class="nav-overlay"></div>
    <div data-navbar class="nav-drawer">
      <ul class="nav-list">
        {navItems.map((item) => <Navitem href={item.href} text={item.text} />)}
      </ul>
      <div class="nav-cta-wrap">
        <BtnLink text="Call Us" href="tel:6026780496" variant="cta" />
      </div>
    </div>
    <div class="nav-actions">
      <BtnThemeSwitch variant="primary" />
      <button
        data-toggle-nav
        data-open-nav="false"
        class="nav-toggle"
        aria-label="Toggle navigation"
      >
        <span id="line1"></span>
        <span id="line2"></span>
        <span id="line3"></span>
        <span class="sr-only">togglenav</span>
      </button>
    </div>
  </nav>
</header>
